@model BikeRentalAgencyUI.Models.BikeStoreViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Bikes</h1>

<form asp-controller="BikeStore" asp-action="Index" method="get">

    <select asp-for="SelectedStore" asp-items="Model.BikeStores">
        <option value="">All</option>
    </select>

    <input type="submit" value="Filter" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                BikeStyle
            </th>
            <th>
                StoreID
            </th>
            <th>
                HourlyRate
            </th>
            <th>
                Price
            </th>
            <th>
                FrameSize
            </th>
            <th>
                Motor
            </th>
            <th>
                MTBSuspension
            </th>
            <th>
                AllTerrainTires
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bikes)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BikeStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motorized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTBSuspension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllTerrainTires)
            </td>

            <td>
                <a class="btn btn-primary" asp-controller="Reservation" asp-action="Create">Reservation</a>
                @*@Html.ActionLink("Reservation", "Create", new { id = item.BikeID })*@
            </td>
        </tr>
        }
    </tbody>
</table>